<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="/bootstrap.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Roboto Condensed";
      }
      .navbar-expand-lg {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        transition: box-shadow 0.2s;
      }
      .navbar-expand-lg:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      .track {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        transition: box-shadow 0.2s;
      }
      .track:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
      }
      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px 20px 0 0;
        transition: box-shadow 0.2s;
      }
      footer:hover {
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <%- include ('./partials/header') %>
    <div class="container">
      <h1 class="text-center" style="padding-top: 40px">
        Вращайте свои воспоминания с нами
      </h1>
      <div class="container" style="padding-top: 15px">
        <p style="font-size: x-large">
          Мы — команда энтузиастов, объединённых любовью к музыке и желанием
          помочь вам сохранить свои любимые мелодии на аудиопластинках. Наша
          миссия — обеспечить доступ к качественным аудиопластинкам для всех,
          кто ценит звук и эмоции, которые он может вызвать. <br />
          <br />
          Наша история началась с любви к музыке и желания поделиться ею с
          другими. Мы понимаем, что аудиопластинки — это не только носитель
          звука, но и кусочек истории, который может быть передан из поколения в
          поколение. Поэтому мы работаем над тем, чтобы предложить вам лучшие
          аудиопластинки, которые помогут вам сохранить свои воспоминания и
          создать новые. <br />
          <br />
          Мы знаем, что наш продукт — это не только аудиопластинки, но и эмоции,
          которые они вызывают. Поэтому мы работаем над тем, чтобы обеспечить
          вам лучший сервис и качество, которое поможет вам насладиться вашими
          любимыми мелодиями в лучшем виде. <br />
          <br />
          Мы — команда, состоящая из людей, которые любят музыку и хотят помочь
          вам сохранить свои воспоминания. Мы работаем над тем, чтобы предложить
          вам лучшие аудиопластинки и сервис, который поможет вам насладиться
          вашими любимыми мелодиями в лучшем виде.
        </p>
      </div>

      <% if (locals.user) { %> <%- include('./partials/tracks/newModal'); -%> <%
      } else { %> <%- include('./partials/loginModal'); -%> <%-
      include('./partials/registerModal'); -%> <% } %>
    </div>
    <%- include ('./partials/footer') %>
  </body>
</html>
