<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="/bootstrap.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Roboto Condensed";
      }
      .navbar-expand-lg {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        transition: box-shadow 0.2s;
      }
      .navbar-expand-lg:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      .track {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        transition: box-shadow 0.2s;
      }
      .track:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
      }
      footer {
        position: absolute;
        bottom: -20px;
        width: 100%;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px 20px 0 0;
        transition: box-shadow 0.2s;
      }
      footer:hover {
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <%- include ('./partials/header') %>
    <div class="container">
      <h1 class="text-center" style="padding-top: 100px">Каталог битов</h1>
      <% entries.tracks.forEach((entry)=>{ %> <% if (entry.status != "1") { %>
      <div class="container track" style="margin: 20px auto; max-width: 1000px">
        <table
          class="table table-test"
          style="border-style: hidden; max-width: 960px; margin: 5px"
        >
          <tbody>
            <tr>
              <td style="width: 160px">
                <div class="cover" style="width: 160px; height: 160px">
                  <img
                    src="./uploads/tracks/<%= entry.cover_name %>"
                    alt="Track cover"
                    style="
                      width: 100%;
                      height: 100%;
                      border-radius: 20px;
                      object-fit: cover;
                    "
                  />
                </div>
              </td>
              <td style="width: 60%">
                <div style="display: flex">
                  <h3 style="font-weight: 600; font-size: 30px">
                    <%= entry.title %>
                  </h3>
                  <% if (name === entry.author || role === 'admin') { %>
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#edit<%=entry.id %>"
                    style="cursor: pointer"
                  >
                    ㅤ
                    <i
                      class="fa-sharp fa-solid fa-pen"
                      style="color: #000000"
                    ></i>
                  </a>
                  <!-- Модальное окно не через include(), потому что «entry is not defined» -->

                  <!-- Начало модального окна -->
                  <div
                    class="modal fade"
                    id="edit<%= entry.id %>"
                    tabindex="-1"
                    aria-labelledby="editModal"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content" style="border-radius: 20px">
                        <div class="modal-header">
                          <h5 class="modal-title fs-5" id="editModal">
                            Изменить информацию о «<%=entry.title %>»
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <form
                            action="/edit/tracks/<%=entry.id %>"
                            class="container"
                            method="post"
                            enctype="multipart/form-data"
                          >
                            <div class="row my-3">
                              <div class="col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                  <input
                                    name="title"
                                    type="text"
                                    class="form-control"
                                    id="title"
                                    placeholder="Title"
                                    value="<%=entry.title %>"
                                    required
                                  />
                                  <label for="title">Название</label>
                                </div>
                              </div>
                            </div>
                            <div class="row my-3">
                              <div class="col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                  <input
                                    name="genre"
                                    type="text"
                                    class="form-control"
                                    id="genre"
                                    placeholder="Genre"
                                    value="<%=entry.genre %>"
                                    required
                                  />
                                  <label for="genre">Жанр</label>
                                </div>
                              </div>
                            </div>
                            <div class="row my-3">
                              <div class="col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                  <input
                                    name="bpm"
                                    type="number"
                                    class="form-control"
                                    id="bpm"
                                    placeholder="Bpm"
                                    value="<%=entry.bpm %>"
                                    required
                                  />
                                  <label for="bpm">BPM</label>
                                </div>
                              </div>
                            </div>
                            <div class="row my-3">
                              <div class="col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                  <select
                                    name="tone"
                                    type="text"
                                    class="form-control"
                                    id="tone"
                                    placeholder="Tone"
                                    required
                                  >
                                    <option value="C">C</option>
                                    <option value="Cm">Cm</option>
                                    <option value="C#/Db">C#/Db</option>
                                    <option value="C#m/Dbm">C#m/Dbm</option>
                                    <option value="D">D</option>
                                    <option value="Dm">Dm</option>
                                    <option value="D#/Eb">D#/Eb</option>
                                    <option value="D#m/Ebm">D#m/Ebm</option>
                                    <option value="E">E</option>
                                    <option value="Em">Em</option>
                                    <option value="F">F</option>
                                    <option value="Fm">Fm</option>
                                    <option value="F#/Gb">F#/Gb</option>
                                    <option value="F#m/Gbm">F#m/Gbm</option>
                                    <option value="G">G</option>
                                    <option value="Gm">Gm</option>
                                    <option value="G#/Ab">G#/Ab</option>
                                    <option value="G#m/Abm">G#m/Abm</option>
                                    <option value="A">A</option>
                                    <option value="Am">Am</option>
                                    <option value="A#/Bb">A#/Bb</option>
                                    <option value="A#m/Bbm">A#m/Bbm</option>
                                    <option value="B">B</option>
                                    <option value="Bm">Bm</option>
                                  </select>
                                  <label for="tone">Тональность</label>
                                </div>
                              </div>
                            </div>
                            <div class="row my-3">
                              <div class="col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                  <input
                                    name="price"
                                    type="number"
                                    class="form-control"
                                    id="price"
                                    placeholder="Price"
                                    value="<%=entry.price %>"
                                    required
                                  />
                                  <label for="price">Цена ₽</label>
                                </div>
                              </div>
                            </div>
                            <div class="row my-3">
                              <div class="col-sm-6 col-12">
                                <button
                                  type="submit"
                                  class="btn btn-success"
                                  style="border-radius: 10px"
                                >
                                  Изменить
                                </button>
                              </div>
                            </div>
                          </form>
                          <a
                            href="/edit/tracks/delete/<%= entry.id %>"
                            style="margin-left: 12px"
                          >
                            <button
                              class="btn btn-danger"
                              style="border-radius: 10px"
                            >
                              Удалить
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Конец модального окна -->

                  <% } %>
                </div>
                <h5><%= entry.author %></h5>
                <p class="card-text">
                  Теги (Жанр, BPM, тональность): <%= entry.genre %>, <%=
                  entry.bpm %> BPM, <%= entry.tone %>
                </p>
                <audio
                  controls="controls"
                  preload="metadata"
                  src="/uploads/tracks/<%= entry.audiofile_name %>"
                  style="width: 100%; border-radius: 5px 5px 20px 20px"
                ></audio>
              </td>
              <td align="center" valign="middle">
                <% if (locals.user) { %> <% if (name !== entry.author) { %> <%
                if (role === "admin") { %>
                <a
                  href="/uploads/tracks/<%= entry.audiofile_name %>"
                  class="btn btn-primary"
                  style="border-radius: 10px"
                  download="<%= entry.audiofile_name %>"
                >
                  Скачать бит
                </a>
                <hr />
                <% } %>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#buy<%= entry.id %>"
                  style="border-radius: 10px"
                >
                  Купить <%= entry.price %>₽
                </button>
                <!-- Модальное окно не через include(), потому что «entry is not defined» -->

                <!-- Начало модального окна -->
                <div
                  class="modal fade"
                  id="buy<%= entry.id %>"
                  tabindex="-1"
                  aria-labelledby="buyModal"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content" style="border-radius: 20px">
                      <div class="modal-header">
                        <h5 class="modal-title fs-5" id="buyModal">
                          Купить «<%= entry.title %>»
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div
                          class="container"
                          style="margin: 0 auto; max-width: 450px"
                        >
                          <table class="table">
                            <tbody style="border-style: hidden">
                              <tr>
                                <td style="width: 140px">
                                  <div style="width: 140px; height: 140px">
                                    <img
                                      src="./uploads/tracks/<%= entry.cover_name %>"
                                      alt="Track cover"
                                      style="
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 20px;
                                        object-fit: cover;
                                      "
                                    />
                                  </div>
                                </td>
                                <td>
                                  <h3 style="font-weight: 600; font-size: 35px">
                                    <%= entry.title %>
                                  </h3>
                                  <h5 style="font-size: 25px">
                                    <%= entry.author %>
                                  </h5>
                                  <p class="card-text">
                                    Теги (Жанр, BPM, тональность): <br />
                                    <%= entry.genre %>, <%= entry.bpm %> BPM,
                                    <%= entry.tone %>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <audio
                            controls="controls"
                            preload="metadata"
                            src="/uploads/tracks/<%= entry.audiofile_name %>"
                            style="
                              width: 100%;
                              border-radius: 5px 5px 20px 20px;
                            "
                          ></audio>
                          <hr />
                        </div>
                        <div style="display: flex">
                          <form
                            action="/tracks/<%=entry.id %>/buy"
                            method="post"
                          >
                            <div class="row my-3" style="display: none">
                              <div class="col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                  <input
                                    name="title"
                                    type="text"
                                    class="form-control"
                                    id="title"
                                    placeholder="Title"
                                    value="<%=entry.title %>"
                                  />
                                </div>
                              </div>
                            </div>
                            <div
                              class="container"
                              style="position: relative; margin-left: 110%"
                            >
                              <button
                                type="submit"
                                class="btn btn-success"
                                style="border-radius: 10px"
                              >
                                Купить <%= entry.price %>₽
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Конец модального окна -->

                <% } else { %>
                <a
                  href="/uploads/tracks/<%= entry.audiofile_name %>"
                  class="btn btn-primary"
                  style="border-radius: 10px"
                  download="<%= entry.audiofile_name %>"
                >
                  Скачать бит
                </a>
                <hr />
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#roleIncorrect"
                  style="border-radius: 10px"
                >
                  Купить <%= entry.price %>₽
                </button>
                <%- include('./partials/roleIncorrectModal'); -%> <% } %> <% }
                else { %><button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#login"
                  style="border-radius: 10px"
                >
                  Купить <%= entry.price %>₽
                </button>
                <% } %> <% } %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <% }) %> <% if (locals.user) { %> <%-
      include('./partials/tracks/newModal'); -%> <% } else { %> <%-
      include('./partials/loginModal'); -%> <%-
      include('./partials/registerModal'); -%> <% } %>
    </div>
    <%- include ('./partials/footer') %>
  </body>
</html>
