<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> </title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <script src="/bootstrap.js"></script>
</head>
<body>
    <div class="container">
<%- include ('./partials/menu') %>
<% entries.posts.forEach((entry)=>{ %>
    <div class="card entry" style="width: 66rem;">
        <div class="card-body ">
            <h6>Запостил: <%= entry.author ? entry.author : 'Гость' %> </h6>
            <br>
          <h5 class="card-title"><%= entry.title %></h5>

        <p class="card-text">
            <%= entry.body %>
            <!-- Здесь контент будет -->
        </p>
        <br>
        <% if (email === entry.author) { %>
            <a href="posts/edit/<%= entry.id %>" class="btn btn-primary">Редактировать</a>
            <a href="posts/delete/<%= entry.id %>" class="btn btn-danger">Удалить</a>
        <% } %>
        </div>
    </div>
    </br>
<% }) %>

</div>
</body>
</html>
