<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../public/css/entries.css" />
    <script src="/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include ('./partials/header') %>
      <h1 class="text-center">Каталог битов</h1>
      <% entries.tracks.forEach((entry)=>{ %>
      <table class="table" style="margin: 0 auto">
        <tbody>
          <tr>
            <td style="width: 150px">
              <div style="width: 150px; height: 150px">
                <img
                  src="./uploads/tracks/<%= entry.cover_name %>"
                  alt="Track cover"
                  style="
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                  "
                />
              </div>
            </td>
            <td style="width: 60%">
              <h4 style="font-weight: 600">
                <%= entry.title %> <% if (email === entry.author || role ===
                'admin') { %>
                <a href="/edit/tracks/<%= entry.id %>"
                  ><i
                    class="fa-sharp fa-solid fa-pen"
                    style="color: #000000"
                  ></i
                ></a>
                <button
                  type="button"
                  class="btn btn-light"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  Редактировать (не редактирует пока)
                </button>
                <a href="/edit/tracks/delete/<%= entry.id %>"
                  ><i class="fa-solid fa-trash" style="color: #000000"></i
                ></a>
                <% } %>
              </h4>
              <h5><%= entry.author ? entry.author : 'Гость' %></h5>
              <p class="card-text">
                Теги (Жанр, BPM, тональность): <%= entry.genre %>, <%= entry.bpm
                %> BPM, <%= entry.tone %>
              </p>
              <audio
                controls="controls"
                src="./uploads/tracks/<%= entry.audiofile_name %>"
              ></audio>
            </td>
            <td>
              <a href="#" class="btn btn-primary">Купить</a>
            </td>
          </tr>
        </tbody>
      </table>
      <% }) %> <% if (locals.user) { %> <%-
      include('./partials/tracks/newModal'); -%> <%-
      include('./partials/tracks/editModal'); -%> <% } else { %> <%-
      include('./partials/loginModal'); -%> <%-
      include('./partials/registerModal'); -%> <% } %>
    </div>
  </body>
</html>
