<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../public/css/entries.css" />
    <script src="/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include ('./partials/header') %>
      <h1 class="text-center">Каталог битов</h1>
      <table class="table table-striped">
        <tbody>
          <% entries.tracks.forEach((entry)=>{ %>
          <tr>
            <td>
              <div
                class="card"
                style="border-radius: 10px; background-color: #fff"
              >
                <img
                  src="<%= entry.cover %>"
                  alt="Track cover"
                  style="
                    width: 100%;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                  "
                />
              </div>
            </td>
            <td>
              <h4 style="font-weight: 600"><%= entry.title %></h4>
              <h5>От: <%= entry.author ? entry.author : 'Гость' %></h5>
              <p class="card-text">
                Теги (Жанр, BPM, тональность): <%= entry.genre %>, <%= entry.bpm
                %> BPM, <%= entry.tone %>
              </p>
            </td>
            <td>
              <% if (email === entry.author || role === 'admin') { %>
              <a href="tracks/edit/<%= entry.id %>"
                ><i class="fa-sharp fa-solid fa-pen" style="color: #000000"></i
              ></a>
              <a href="tracks/delete/<%= entry.id %>"
                ><i class="fa-solid fa-trash" style="color: #000000"></i
              ></a>
              <% } %>
              <!-- Button to buy the track -->
              <a href="#" class="btn btn-primary">Купить</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% if (locals.user) { %> <%- include('./partials/tracks/newModal'); -%><%
      } else { %> <%- include('./partials/loginModal'); -%> <%-
      include('./partials/registerModal'); -%> <% } %>
    </div>
  </body>
</html>
